.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  z-index: 1000;
  padding: 1rem 10px 1rem 10px;

  .logo {
    display: flex;
    align-items: center;

    span {
      font-size: 2rem;
    }
  }

  .links {
    display: none;
  }

  img {
    width: 2rem;
    height: 2rem;
  }
}
